In [18]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Import necessary libraries
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
file_path_accidentdata = "/content/drive/My Drive/accident_data.csv"

# Read the CSV file into a DataFrame
accidentdata = pd.read_csv(file_path_accidentdata)

In [14]:
accidentdata.columns

Index(['Unnamed: 0', 'Year', 'Accident_Spot', 'Main_Cause', 'Collision_Type',
       'Junction_Control', 'Road_Character', 'Road_Type', 'Surface_Type',
       'Weather', 'Latitude', 'Longitude', 'age', 'Sex', 'PersonType',
       'Vehicle_Involvement', 'severity_score'],
      dtype='object')

In [21]:
accidentdata['Noofvehicle_involved'].value_counts()

2     271777
1     201308
3      12571
4       1526
5        341
6        147
7         77
8         33
12        15
22         8
10         8
9          7
11         4
21         2
65         2
52         2
46         2
49         1
20         1
75         1
36         1
Name: Noofvehicle_involved, dtype: int64

In [154]:
import pickle

with open('/content/final_scores_dict.pickle', 'rb') as f:
  severity_scores = pickle.load(f)

In [157]:
accidentdata.columns

Index(['DISTRICTNAME', 'UNITNAME', 'Year', 'Accident_Classification',
       'Accident_Spot', 'Accident_Location', 'Accident_SubLocation',
       'Accident_SpotB', 'Main_Cause', 'Hit_Run', 'Collision_Type',
       'Junction_Control', 'Road_Character', 'Road_Type', 'Surface_Type',
       'Surface_Condition', 'Road_Condition', 'Weather', 'Lane_Type',
       'Road_Markings', 'Spot_Conditions', 'Side_Walk', 'Collision_TypeB',
       'Accident_Road', 'Landmark_first', 'Latitude', 'Longitude', 'Month',
       'age', 'Sex', 'PersonType', 'Injury_Nature', 'Vehicle_Involvement',
       'severity_score'],
      dtype='object')

In [155]:
accidentdata.severity_score.value_counts()

73.103323    2910
87.065949    2511
70.235532    1894
81.357263    1589
67.812370    1560
             ...
55.588235       1
70.537634       1
88.484848       1
83.137255       1
86.767372       1
Name: severity_score, Length: 685, dtype: int64

In [211]:
accidentdata.drop('Landmark_first', axis=1, inplace=True)

In [173]:
accidentdata.isna().sum()

DISTRICTNAME                  0
UNITNAME                      0
Year                          0
Accident_Classification       0
Accident_Spot                 0
Accident_Location             0
Accident_SubLocation          0
Main_Cause                    0
Hit_Run                       0
Collision_Type                0
Junction_Control              0
Road_Character                0
Road_Type                     0
Surface_Type                  0
Surface_Condition             0
Road_Condition                0
Weather                       0
Accident_Road               203
Landmark_first              270
Latitude                      0
Longitude                     0
Month                      6746
age                        6746
Sex                        6762
PersonType                 6746
Vehicle_Involvement           0
severity_score                0
dtype: int64

In [172]:
accidentdata.drop('Accident_SpotB', axis=1, inplace=True)

In [195]:
accidentdata.Collision_Type.value_counts()

Vehicle to Vehicle            45609
Not Applicable                27038
Others                        26594
Hit pedestrian                13057
Head on                        7138
Skidding or Self accident      4324
Hit and Run                    4023
Rear end                       3977
Hit bicyclist                  2500
Overturning                    1384
Side swipe                     1273
Drowned                        1238
Hit animal                     1170
Hit fixed object                758
Right Turn Collision            735
Side impact or Right angle      494
Hit parked vehicle              483
Run Off Road                    314
Hit puchcart                    161
Hit pedal cyclist               107
Name: Collision_Type, dtype: int64

In [128]:
import numpy as np
# Loop through each column in the DataFrame
for column in accidentdata.columns:
    # Calculate the count of each unique value in the column
    value_counts = accidentdata[column].value_counts()

    # Check if 'Not Applicable' exists in the unique values
    if 'No influence on accident' in value_counts.index:
        # Get the count of 'Not Applicable' occurrences
        na_count = value_counts['No influence on accident']

        # Calculate the total count of other values (excluding 'Not Applicable')
        total_count = sum(value_counts) - na_count

        # Calculate the distribution ratio for other values
        distribution_ratio = value_counts.drop('No influence on accident') / total_count

        # Update 'Not Applicable' values with other options based on their count
        other_options = distribution_ratio.index
        weights = distribution_ratio.values
        new_values = pd.Series(np.random.choice(other_options, size=na_count, p=weights), index=accidentdata[accidentdata[column] == 'No influence on accident'].index)
        accidentdata.loc[new_values.index, column] = new_values

In [213]:
accidentdata.columns

Index(['DISTRICTNAME', 'UNITNAME', 'Year', 'Accident_Spot',
       'Accident_Location', 'Accident_SubLocation', 'Main_Cause', 'Hit_Run',
       'Collision_Type', 'Junction_Control', 'Road_Character', 'Road_Type',
       'Surface_Type', 'Surface_Condition', 'Road_Condition', 'Weather',
       'Accident_Road', 'Latitude', 'Longitude', 'Month', 'age', 'Sex',
       'PersonType', 'Vehicle_Involvement', 'severity_score'],
      dtype='object')

In [225]:
accidentdata.age.value_counts()

35.0     4931
30.0     4875
45.0     4605
40.0     4340
25.0     4259
         ...
89.0        4
95.0        3
100.0       3
96.0        2
105.0       1
Name: age, Length: 95, dtype: int64

In [226]:
# Assuming accidentdata is your DataFrame

# Loop through each column in the DataFrame
for column in accidentdata.columns:
    # Print the value counts for the current column
    print(f"Value counts for column '{column}':")
    print(accidentdata[column].value_counts())
    print()

Value counts for column 'DISTRICTNAME':
Chitradurga              11335
Tumakuru                  6696
Bengaluru City            6466
Udupi                     6345
Bengaluru Dist            5850
Uttara Kannada            5444
Shivamogga                5373
Hassan                    4896
Ramanagara                4809
Mandya                    4714
Dakshina Kannada          3615
Davanagere                3565
Mysuru Dist               3367
Belagavi Dist             3335
Chikkamagaluru            3112
Chamarajanagar            2757
Bagalkot                  2653
Vijayapur                 2623
Mangaluru City            2526
Bidar                     2442
Mysuru City               2387
Haveri                    2120
Raichur                   2061
Chickballapura            1763
Vijayanagara              1602
Hubballi Dharwad City     1546
Belagavi City             1486
Kalaburagi                1459
Kodagu                    1346
Dharwad                   1282
Kolar                     1226
Ballari                   1154
Koppal                     817
Yadgir                     765
Kalaburagi City            459
Gadag                      402
K.G.F                      317
Name: DISTRICTNAME, dtype: int64

Value counts for column 'UNITNAME':
Nelamangala Traffic Police Station    2618
Hiriyur Rural Police Station          1634
Kundapura Traffic Police Station      1540
Holalkere Police Station              1355
Puttur Traffic Police Station         1217
                                      ...
Jamakhandi Town Police Station           1
Kaginele Police Station                  1
Koppal Traffic Police Station            1
Mallanduru Police Station                1
Santemaralli Police Station              1
Name: UNITNAME, Length: 675, dtype: int64

Value counts for column 'Year':
2019    15922
2016    15330
2017    14889
2018    14793
2022    14076
2023    13221
2020    13175
2021    12709
Name: Year, dtype: int64

Value counts for column 'Accident_Spot':
Narrow road                   45167
Curves                        20349
Cross roads                   17522
Junction                      10363
Circle                         7140
Bridge                         2676
Road hump or Rumble strips     2450
Bottleneck                     2405
Offset                         2396
T Junction                     1302
Culvert                         646
More than four arms             536
Y Junction                      433
Railway crossing                330
Round about or Circle           233
Staggered junction              167
Name: Accident_Spot, dtype: int64

Value counts for column 'Accident_Location':
Rural Areas            73158
City/Town              34930
Villages settlement     6027
Name: Accident_Location, dtype: int64

Value counts for column 'Accident_SubLocation':
Open area                         57462
Near Bus stop                     11210
Near or inside a village          10718
Residential area                   8843
Near School or College             4509
Near Petrol Pump                   4471
Near office complex                3945
Near a religious place             2907
Narrow bridge or culverts          2327
Near Hospital                      2214
Near a factory industrial area     2129
In bazaar                          1619
At pedestrian Crossing              974
Near a recreation place/cinema      426
Affected by encroachments           361
Name: Accident_SubLocation, dtype: int64

Value counts for column 'Main_Cause':
Human Error                110524
Vehicle Defect               2965
Road Environment Defect       626
Name: Main_Cause, dtype: int64

Value counts for column 'Hit_Run':
No     96701
Yes    17414
Name: Hit_Run, dtype: int64

Value counts for column 'Collision_Type':
Vehicle to Vehicle            49329
Others                        17634
Hit pedestrian                13955
Head on                        7920
Skidding or Self accident      4744
Rear end                       4509
Hit and Run                    4370
Hit bicyclist                  2719
Overturning                    1530
Drowned                        1365
Side swipe                     1348
Hit animal                     1246
Hit fixed object                860
Right Turn Collision            831
Side impact or Right angle      572
Hit parked vehicle              553
Run Off Road                    334
Hit puchcart                    177
Hit pedal cyclist               119
Name: Collision_Type, dtype: int64

Value counts for column 'Junction_Control':
Uncontrolled                 41365
Not at  Junction             30295
Controlled                   25047
No signal lights              9119
Police / Manual               2260
Give way sign                 1961
Signal lights Automatic       1084
Stop sign                     1045
Signal lights Blinking         715
Signals (Working)              324
Signals (Not working)          265
Signal lights Manual           264
Stop Sign                      259
Signal lights Not working      112
Name: Junction_Control, dtype: int64

Value counts for column 'Road_Character':
Straight and flat          46144
Others                     35882
Curve                      20700
Hump                        2711
Slight Curve                2496
Incline                     2401
Curve and Incline           1234
Sharp Curve                  968
Crest of hill                710
Steep Incline or Climb       364
Dip or trough                336
Gentle Incline or Climb      169
Name: Road_Character, dtype: int64

Value counts for column 'Road_Type':
NH                     59329
State Highway          24231
Others                 11462
Village Road            5000
City or Town Road       4045
Two way                 2587
One way                 1394
Service Road            1182
Major District Road     1067
Minor District Road      944
Expressway               822
Residential Street       689
Arterial                 682
Mixed                    313
Forest Road              165
Sub Arterial             160
Feeder Road               43
Name: Road_Type, dtype: int64

Value counts for column 'Surface_Type':
Bitumen(Tar)    103027
Concrete          4807
Surfaced          2641
Kutcha            1762
Gravel            1249
Metalled           629
Name: Surface_Type, dtype: int64

Value counts for column 'Surface_Condition':
Dry                  98400
Others               11319
Wet                   2011
Ditch or Potholed     1109
Muddy                  785
Flooded                491
Name: Surface_Condition, dtype: int64

Value counts for column 'Road_Condition':
No influence on accident        89239
Construction Work / Material     8569
Engineering Defect of Road       7049
Pot holed                        6309
Drainage Ditch                   2949
Name: Road_Condition, dtype: int64

Value counts for column 'Weather':
Clear                            53814
Fine                             40417
Others                           11527
Cloudy                            3342
Light Rain                        1187
Very Hot                          1095
Very Cold                          590
Fog / Mist                         459
Snow                               404
Heavy Rain                         367
Mist or Fog                        254
Dust Storn                         243
Wind                               225
Flooding of Slipways/Rivulets       91
Strong Wind                         82
Hail or Sleet                       18
Name: Weather, dtype: int64

Value counts for column 'Accident_Road':
NH                               8991
SH                               3663
NH 66                            3153
State Highway                    2297
STATE HIGHWAY                    2113
                                 ...
NH-218 Road                         5
RAMADURG SUREBAN ROAD               4
TARIKERE ROAD                       4
T Narasipura Mysore Main Road       1
Damber Raod                         1
Name: Accident_Road, Length: 777, dtype: int64

Value counts for column 'Latitude':
14.666670    24751
13.500000    11724
14.222620     9701
12.971940     6466
13.931570     4993
13.007150     4885
12.650000     4447
12.840000     3615
14.430000     3565
13.322310     3085
12.521450     2659
16.186730     2653
16.824420     2623
12.917230     2526
17.913310     2442
12.297910     2387
14.793540     2064
16.160000     2043
13.959276     1634
15.325000     1602
15.347760     1546
15.852120     1486
12.416670     1346
13.136710     1129
15.145750     1129
15.460050      989
12.981437      871
12.519357      796
16.730000      746
15.345220      698
13.309456      463
13.867303      438
15.429770      402
14.167839      367
12.680494      362
15.471961      293
12.489243      171
12.256518      137
13.349191      125
15.600629      119
13.260890      117
13.686743      103
13.002609       97
12.587151       75
14.914951       56
13.604543       41
13.458739       30
13.137382       27
15.144562       25
16.865303       19
16.194643       18
13.950670       13
13.086133       11
12.705736        5
Name: Latitude, dtype: int64

Value counts for column 'Longitude':
75.833330    24751
76.400380     9701
77.593690     6466
77.000000     6116
74.870000     5608
75.567910     4993
76.096200     4885
77.350000     4447
75.290000     3615
75.900000     3565
75.774000     3085
76.895270     2659
75.696140     2653
75.715370     2623
74.856030     2526
77.530110     2442
76.639250     2387
75.404480     2064
76.910000     2043
76.610980     1634
76.465000     1602
75.133780     1546
74.504470     1486
75.750000     1346
76.917510     1129
78.129170     1129
75.007780      989
76.735749      871
76.884689      796
76.940000      746
76.154780      698
76.948541      463
74.626801      438
75.629710      402
75.032234      367
77.469343      362
74.989350      293
77.035245      171
77.122484      137
74.785973      125
76.658014      119
76.460982      117
74.660641      103
77.938556       97
77.041699       75
75.270790       56
74.862516       41
74.989894       30
75.554530       27
76.925315       25
77.389298       19
76.655595       18
75.559904       13
76.204760       11
76.817299        5
Name: Longitude, dtype: int64

Value counts for column 'Month':
1.0     10257
12.0    10126
3.0      9995
5.0      9759
2.0      9501
11.0     8870
10.0     8804
6.0      8732
4.0      8630
8.0      8226
9.0      8093
7.0      7780
Name: Month, dtype: int64

Value counts for column 'age':
35.0     4931
30.0     4875
45.0     4605
40.0     4340
25.0     4259
         ...
89.0        4
95.0        3
100.0       3
96.0        2
105.0       1
Name: age, Length: 95, dtype: int64

Value counts for column 'Sex':
MALE      86415
FEMALE    22327
Enuch        16
Name: Sex, dtype: int64

Value counts for column 'PersonType':
Injured                   85935
Deceased                  16315
complainnant               5951
Others                      447
Unidentified Dead Body       72
Unidentified Person          50
Arrest                        3
Name: PersonType, dtype: int64

Value counts for column 'Vehicle_Involvement':
2_vehicles           66661
1_vehicle            43474
multiple_vehicles     3980
Name: Vehicle_Involvement, dtype: int64

Value counts for column 'severity_score':
73.103323    2618
70.235532    1634
81.357263    1540
66.592593    1355
65.046729    1217
             ...
83.137255       1
88.333333       1
87.572016       1
86.767372       1
58.993711       1
Name: severity_score, Length: 679, dtype: int64

In [29]:
accidentdata.to_csv('accident_data.csv')

In [229]:
accidentdata.columns

Index(['DISTRICTNAME', 'UNITNAME', 'Year', 'Accident_Spot',
       'Accident_Location', 'Accident_SubLocation', 'Main_Cause', 'Hit_Run',
       'Collision_Type', 'Junction_Control', 'Road_Character', 'Road_Type',
       'Surface_Type', 'Surface_Condition', 'Road_Condition', 'Weather',
       'Accident_Road', 'Latitude', 'Longitude', 'Month', 'age', 'Sex',
       'PersonType', 'Vehicle_Involvement', 'severity_score'],
      dtype='object')

In [16]:
accidentdata['Vehicle_Involvement'] = accidentdata['Vehicle_Involvement'].apply(lambda x: 2 if x == '2_vehicles' else x)

In [5]:
import pandas as pd
accidentdata = pd.read_csv('/content/accident3.csv')

In [6]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.cluster import KMeans

# Encoding categorical variables
categorical_columns = ['Accident_Spot', 'Main_Cause','Junction_Control', 'Road_Character', 'Road_Type', 'Severity', 'Surface_Type',
                        'Road_Condition', 'Weather',
                       'Sex', 'PersonType']

label_encoders = {}
for column in categorical_columns:
    label_encoders[column] = LabelEncoder()
    accidentdata[column] = label_encoders[column].fit_transform(accidentdata[column])

# Scaling numerical variables
numerical_columns = ['Year', 'Latitude', 'Longitude', 'age', 'Noofvehicle_involved']
scaler = StandardScaler()
accidentdata[numerical_columns] = scaler.fit_transform(accidentdata[numerical_columns])

# Training the model
num_clusters = 20
kmeans = KMeans(n_clusters=num_clusters)
kmeans.fit(accidentdata)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=20)

In [ ]:
from sklearn.cluster import AgglomerativeClustering
import pandas as pd

# Combine numerical and categorical columns
columns_to_use = numerical_columns + categorical_columns

# Scale numerical columns
X = accidentdata[columns_to_use].copy()
X[numerical_columns] = scaler.transform(X[numerical_columns])

# Instantiate the Hierarchical Clustering model
hierarchical_clustering = AgglomerativeClustering(n_clusters=5, linkage='ward')

# Fit the model to the data
clusters = hierarchical_clustering.fit_predict(X)

# Add the cluster assignments to the original DataFrame
accidentdata['cluster'] = clusters

In [ ]:
# Encoding categorical variables for test data
for column in categorical_columns:
    if column in accidentdata.columns:
        accidentdata[column] = label_encoders[column].transform(accidentdata[column])

# Scaling numerical variables for test data
accidentdata[numerical_columns] = scaler.transform(accidentdata[numerical_columns])

# Predicting clusters for test data
test_clusters = kmeans.predict(accidentdata)

In [ ]:
cluster_centroids = kmeans.cluster_centers_

In [ ]:
for cluster_id in range(num_clusters):
    cluster_data = accidentdata[test_clusters == cluster_id]
    print(f"Cluster {cluster_id}:")
    print(cluster_data.describe())
    print("\n")

In [ ]:
import matplotlib.pyplot as plt

# Select two features to plot
x_feature = 'Accident_SubLocation'
y_feature = 'Hit_Run'

# Create a scatter plot
plt.scatter(accidentdata[x_feature], accidentdata[y_feature], c=test_clusters, cmap='viridis')
plt.xlabel(x_feature)
plt.ylabel(y_feature)
plt.title('Scatter Plot with Cluster Assignments')
plt.colorbar(label='Cluster')
plt.show()

In [ ]:
accidentdata.columns

In [ ]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.cluster import DBSCAN
import pandas as pd

# Create a copy of the DataFrame for encoding and clustering
accident_data_encoded = accidentdata.copy()

# Encoding categorical variables
categorical_columns = ['Accident_Spot','Main_Cause',
                       'Junction_Control', 'Road_Character', 'Road_Type', 'Surface_Type',
                       'Weather','Sex', 'PersonType', 'Severity']

label_encoders = {}
for column in categorical_columns:
    label_encoders[column] = LabelEncoder()
    accident_data_encoded[column] = label_encoders[column].fit_transform(accident_data_encoded[column])

# Scaling numerical variables
numerical_columns = ['Year', 'Latitude', 'Longitude', 'age', 'Noofvehicle_involved']
scaler = StandardScaler()
accident_data_encoded[numerical_columns] = scaler.fit_transform(accident_data_encoded[numerical_columns])

# Combine numerical and categorical columns
columns_to_use = numerical_columns + categorical_columns

# Create a new DataFrame with scaled numerical and encoded categorical columns
X = accident_data_encoded[columns_to_use]

# Instantiate the DBSCAN model
dbscan = DBSCAN(eps=0.3, min_samples=10000)  # You may need to tune these parameters

# Fit the model to the data
clusters = dbscan.fit_predict(X)

# Add the cluster assignments to the original DataFrame
accidentdata['cluster'] = clusters

In [184]:
accidentdata

,Year,Noofvehicle_involved,Accident_Spot,Main_Cause,Severity,Junction_Control,Road_Character,Road_Type,Surface_Type,Road_Condition,Weather,Latitude,Longitude,age,Sex,PersonType,cluster
0,2016,1.0,Bottleneck,Human Error,Grievous Injury,Controlled,Curve,State Highway,Bitumen(Tar),Construction Work / Material,Clear,16.18673,75.69614,60.0,FEMALE,Injured,-1
1,2016,1.0,Bottleneck,Human Error,Grievous Injury,Controlled,Curve,State Highway,Bitumen(Tar),Pot holed,Clear,16.18673,75.69614,42.0,MALE,Injured,-1
2,2016,1.0,Bridge,Human Error,Fatal,Controlled,Straight and flat,State Highway,Bitumen(Tar),Pot holed,Rain,16.18673,75.69614,21.0,MALE,Injured,-1
3,2016,1.0,Bridge,Human Error,Fatal,Controlled,Curve,State Highway,Bitumen(Tar),Pot holed,Rain,16.18673,75.69614,23.0,MALE,Injured,-1
4,2016,1.0,Bridge,Human Error,Fatal,Uncontrolled,Straight and flat,State Highway,Bitumen(Tar),Pot holed,Rain,16.18673,75.69614,30.0,MALE,Injured,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487829,2023,2.0,Junction,Human Error,Grievous Injury,Uncontrolled,Curve,Minor District Road,Bitumen(Tar),Engineering Defect of Road,Clear,16.73000,76.94000,18.0,MALE,Injured,-1
487830,2023,2.0,Junction,Human Error,Grievous Injury,Uncontrolled,Curve,Minor District Road,Bitumen(Tar),Construction Work / Material,Clear,16.73000,76.94000,18.0,MALE,Injured,-1
487831,2023,1.0,Junction,Human Error,Fatal,Uncontrolled,Straight and flat,NH,Bitumen(Tar),Pot holed,Clear,16.73000,76.94000,35.0,MALE,Deceased,-1
487832,2023,1.0,Junction,Human Error,Grievous Injury,Uncontrolled,Curve,NH,Bitumen(Tar),Construction Work / Material,Clear,16.73000,76.94000,70.0,MALE,Injured,-1
487833,2023,1.0,Circle,Human Error,Grievous Injury,Uncontrolled,Straight and flat,NH,Bitumen(Tar),Construction Work / Material,Clear,16.73000,76.94000,28.0,MALE,Injured,-1

In [ ]:
import matplotlib.pyplot as plt

# Select two features to plot
x_feature = 'Year'
y_feature = 'Main_Cause'

# Create a scatter plot
plt.figure(figsize=(10, 8))
scatter = plt.scatter(accidentdata[x_feature], accidentdata[y_feature], c=accidentdata['cluster'], cmap='viridis')
plt.colorbar(scatter)
plt.title('Scatter Plot with DBSCAN Cluster Assignments')
plt.xlabel(x_feature)
plt.ylabel(y_feature)
plt.show()

In [ ]:
from sklearn.cluster import DBSCAN

# Create a dummy data point
dummy_data = {'Year': 2022, 'Latitude': 77.9, 'Longitude': 12.0059, 'Month': 3, 'age': 35, 'Vehicle_Involvement': 1, 'severity_score': 2}

# Convert dummy data to a DataFrame
dummy_df = pd.DataFrame([dummy_data])

# Scale numerical variables for the dummy data
dummy_df[numerical_columns] = scaler.transform(dummy_df[numerical_columns])

# Select only the numerical columns for prediction
X_dummy = dummy_df[numerical_columns]

# Predict the cluster for the dummy data point
dummy_cluster = dbscan.fit_predict(X_dummy)

In [ ]:
accidentdata = accidnt_data.to_csv

In [ ]:
accidentdata.drop('Surface_Condition', axis=1, inplace=True)

In [13]:
import pandas as pd
file_path_accidentdata = "/content/accidentdata2.csv"

# Read the CSV file into a DataFrame
accidentdata = pd.read_csv(file_path_accidentdata)

In [124]:
accidentdata.columns

Index(['Year', 'Noofvehicle_involved', 'Accident_Spot', 'Main_Cause',
       'Severity', 'Junction_Control', 'Road_Character', 'Road_Type',
       'Surface_Type', 'Road_Condition', 'Weather', 'Latitude', 'Longitude',
       'age', 'Sex', 'PersonType'],
      dtype='object')

In [161]:
accidentdata['Severity'].value_counts()

Grievous Injury    214649
Fatal              124623
Simple Injury      118929
Damage Only         26626
Name: Severity, dtype: int64

In [160]:
accidentdata.loc[accidentdata['Severity'] == 'Father', 'Severity'] = 'Fatal'

In [122]:
accidentdata.drop(['Surface_Condition'], axis=1, inplace = True)

In [44]:
accidentdata.isna().sum()

Year                    0
Noofvehicle_involved    0
Accident_Spot           0
Main_Cause              0
Severity                0
Junction_Control        0
Road_Character          0
Road_Type               0
Surface_Type            0
Surface_Condition       0
Road_Condition          0
Weather                 0
Latitude                0
Longitude               0
age                     0
Sex                     0
PersonType              0
dtype: int64

In [47]:
average_value = accidentdata.loc[accidentdata['Noofvehicle_involved'] > 5, 'Noofvehicle_involved'].mean()

accidentdata.loc[accidentdata['Noofvehicle_involved'] > 5, 'Noofvehicle_involved'] = average_value

In [43]:
import numpy as np
# Step 1: Calculate the frequency of each non-NaN value in column 'a'
value_counts = accidentdata['PersonType'].value_counts(dropna=True)

# Step 2: Calculate the total count of non-NaN values
total_count = value_counts.sum()

# Step 3: Calculate the frequency distribution for each non-NaN value
distribution = value_counts / total_count

# Step 4: Replace the NaN values with non-NaN values based on their frequency distribution
nan_indices = accidentdata['PersonType'].isnull()  # Get indices where 'a' is NaN
replacement_values = np.random.choice(distribution.index, size=nan_indices.sum(), p=distribution.values)
accidentdata.loc[nan_indices, 'PersonType'] = replacement_values

In [176]:
accidentdata.to_csv('accident3.csv')

dummy_cluster

In [171]:

value_counts = accidentdata['age'].value_counts()

values_to_replace = value_counts[value_counts < 200].index.tolist()

replacement_values = accidentdata['age'].value_counts().index.tolist()
replacement_values = [val for val in replacement_values if val not in values_to_replace]

num_values = len(values_to_replace)
num_replacement_values = len(replacement_values)
add_count_per_value = 200 // num_replacement_values

for value in values_to_replace:
    replace_indices = accidentdata.index[accidentdata['age'] == value]
    for i in range(num_replacement_values):
        replacement_value = replacement_values[i]
        replacement_indices = accidentdata.index[accidentdata['age'] == replacement_value]
        if len(replacement_indices) > add_count_per_value:
            accidentdata.loc[replace_indices[:add_count_per_value], 'age'] = replacement_value
            replace_indices = replace_indices[add_count_per_value:]
        else:
            accidentdata.loc[replace_indices[:len(replacement_indices)], 'age'] = replacement_value
            replace_indices = replace_indices[len(replacement_indices):]